@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.TextPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}


<h1>Help</h1>
<p>@Model.Value("mainContent")</p>